@import "../../global.scss";
ion-content {
    --background: url("https://wallpaperaccess.com/full/32048.jpg");
}

.user_card {
    height: 350px;
    width: 350px;
    margin-top: 35%;
    margin-bottom: $auto;
    background: rgb(189, 194, 175);
    position: $relative;
    display: $flex;
    justify-content: $center;
    flex-direction: $column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px 50px 30px;
    opacity: 0.5;
}

.user_card:hover {
    opacity: 5.0;
}

.brand_logo_container {
    position: $absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: $dark;
    padding: 10px;
    text-align: $center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px $solid $light;
}

.form_container {
    margin-top: 100px;
}

.input-group-text {
    background: $strong-red !important;
    color: $light !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: $none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $strong-red !important;
}