@import "../../global.scss";
*{
 font-family: lato;   
}
ion-title{
    color:skyblue;
    letter-spacing: 1.5px;
}


ion-label{
    color:black !important;
    font-size:30%;
    ion-label{
    color:black !important;
    font-size:30%;
    padding-top:10px;
    font-weight: bolder;
}
    font-weight: bolder;
}
.work{
    float:left;

}
.rest{
    float:right;   
}
