<ion-content>

    <body>
        <div>
            <center>
                <div class="head">
                    <img class="headPic" src="assets/images/Conference.png" alt="">
                </div>
                <div>
                    <img class="logo" src="assets/images/logo.png">
                    <h1>Ms.Q Artisans</h1>
                    <p class="tagline">We Serve at your pleasure</p>

                </div>
            </center>
        </div>
        <div class="below">
            <img [routerLink]="['/login']" class="imgLogin" src="assets/images/login.png" alt="">
        </div>
    </body>

</ion-content>