body {
    background-color: #9e9e9e4a;
    //     display: flex;
}

// @media only screen and (max-width: 1000px) {
//     .headPic {
//         width: 200%;
//         height: auto;
//         border-bottom-left-radius: 96%;
//         background-size: cover;
//     }
// }
.logo {
    width: 150px;
    height: 150px;
    border-radius: 79px;
    border: 4px solid #22bbea8f;
    margin-top: -38%;
}

h1 {
    font-size: 43px;
    color: #34d2e6f0;
    font-weight: bolder!important;
}

.headPic {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 96%;
    background-size: cover;
}

p,
h1 {
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Arial White", Gadget, sans-serif
}

.below {
    background-color: #827d7d36;
    height: 100%;
    border-top-right-radius: 100%;
    margin-top: 5%;
    position: fixed;
}

.tagline {
    font-size: 14px;
    letter-spacing: 3px;
}

.imgLogin {
    width: 35%;
    padding-top: 23%;
    margin-left: 5%;
    height: auto;
}