<ion-header>
    <ion-toolbar>
        <ion-title>Settings</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>

        </ion-buttons>


    </ion-toolbar>


</ion-header>

<ion-content>
    <ion-list lines="none" class="menu-items">
        <ion-item>
            <div>
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Account Information</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="star-half"></ion-icon>
                <ion-label>User Readings</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="people-circle"></ion-icon>
                <ion-label>Suki</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="alert-circle"></ion-icon>
                <ion-label>Privacy Policy</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="newspaper"></ion-icon>
                <ion-label>Terms and Condition</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="pricetags"></ion-icon>
                <ion-label>Price Rates</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="help-circle"></ion-icon>
                <ion-label>Frequently Ask Question</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="hammer"></ion-icon>
                <label class="item item-input item-select item-light">
                    <div class = "input-label">
                       Select
                    </div>
                      
                    <!-- <select>
                       <option>Option 1</option>
                       <option selected>Option 2</option>
                       <option>Option 3</option>
                    </select> -->
                 </label>
                <!-- <ion-label>All Settings</ion-label>
                <ion-select class="select">
                    <ion-select-option>Notification Settings</ion-select-option>
                    <ion-select-option>Notification Settings</ion-select-option>
                    <ion-select-option>Notification Settings</ion-select-option>

                </ion-select> -->
            </div>
        </ion-item>
    </ion-list>

</ion-content>