<ion-header>
    <ion-toolbar>
        <ion-title>Settings</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>

        </ion-buttons>


    </ion-toolbar>


</ion-header>

<ion-content>
    <ion-list lines="none" class="menu-items">
        <ion-item>
            <div>
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Account Information</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="star-half"></ion-icon>
                <ion-label>User Readings</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="people-circle"></ion-icon>
                <ion-label>Suki</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="alert-circle"></ion-icon>
                <ion-label>Privacy Policy</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="newspaper"></ion-icon>
                <ion-label>Terms and Condition</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="pricetags"></ion-icon>
                <ion-label>Price Rates</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <ion-icon name="help-circle"></ion-icon>
                <ion-label>Frequently Ask Question</ion-label>
            </div>
        </ion-item>
        <!-- 
https://edupala.com/ionic-menu-with-example/
         -->
        <ion-item lines="none" (click)="isSetting === 1 ? isSetting = 0 : isSetting = 1">
            <ion-icon name="md-construct" slot="start"></ion-icon>
            <ion-label>All Settings</ion-label>
            <ion-icon slot="start" [name]="isSetting? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </ion-item>

        <ion-menu-toggle auto-hide="false" class="subMenu">
            <ion-list lines="none">
                <ion-item menuclose [hidden]="!isSetting" [routerLink]="['/new-order']">
                    <ion-icon name="notifications" slot="start"></ion-icon>
                    <ion-label>Notification Settings</ion-label>
                </ion-item>
                <ion-item menuclose [hidden]="!isSetting" [routerLink]="['/tracker']" [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
                    <ion-icon name="md-basket" slot="start"></ion-icon>
                    <ion-label> New order notifications</ion-label>
                </ion-item>
                <ion-item menuclose [hidden]="!isSetting" [routerLink]="['/']" [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
                    <ion-icon name="globe" slot="start"></ion-icon>
                    <ion-label>Language</ion-label>
                </ion-item>
                <ion-item menuclose [hidden]="!isSetting" [routerLink]="['/']" [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
                    <ion-icon name="md-globe" slot="start"></ion-icon>
                    <ion-label>Region / State</ion-label>
                </ion-item>
                <ion-item menuclose [hidden]="!isSetting" [routerLink]="['/']" [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
                    <ion-icon name="md-share-alt" slot="start"></ion-icon>
                    <ion-label>Share</ion-label>
                </ion-item>

            </ion-list>

        </ion-menu-toggle>



    </ion-list>

</ion-content>